<script src="https://js.stripe.com/v3/"></script>

<center>
    <h2>Donation to {{ charity }}</h2>
    <span id="auction_id" style="visibility: hidden;">{{auction_id}}</span>

	<div>
		<input class="form-control"
		       type="number"
		       id="custom-donation-amount"
		       placeholder="10.00"
		       min="0.50"/>
		 <script src="https://checkout.stripe.com/checkout.js"></script>
		<button id="customButton">Donate</button>
		
		<!--Janky way of getting around CSRF token issues (passes back stripe id)-->
		<form id="submit" action="/donate/" method="POST">
			{% csrf_token %}
			{{ form }}
		</form>
		
		<script>
		  var handler = StripeCheckout.configure({
		    key: '{{stripe_key}}',
		    token: function(token) {
		    	document.getElementById("id_stripe_id").value = token.id;
		    	document.getElementById("id_email").value = token.email;
		    	document.getElementById("submit").submit();
		    }
		  });

		  document.getElementById('customButton').addEventListener('click', function(e) {
		    // This line is the only real modification...
		    var amount = parseFloat(document.getElementById("custom-donation-amount").value) * 100;
		    console.log(amount);
		    document.getElementById("id_amount").value = amount;
		    handler.open({
		      name: 'Demo Site',
		      description: document.getElementById('auction_id').innerHTML,
		      amount: amount
		    });
		    e.preventDefault();
		  });
		</script>
	</div>
</center>