{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'donate.css' %}">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.yellow-lime.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100" >
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<title>Action Auctions</title>
<body>
<center>
  <h1 class="title">Action Auctions</h1>
	<div class="triangle1"></div>
	<div class="triangle2"></div>
  <h2 class="donation">Donation to fight {{ charity }}</h2>
  <span id="auction_id" style="visibility: hidden;">{{auction_id}}</span>

  <div>
    <input class="form-control"
		       type="number"
		       id="custom-donation-amount"
		       placeholder="10.00"
		       min="0.50"/>
		 <script src="https://checkout.stripe.com/checkout.js"></script>
     <!-- <button id="customButton">Donate</button> -->

     <button button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="googleButton">Donate</button>
		<!--Janky way of getting around CSRF token issues (passes back stripe id)-->
		<form id="submit" action="/donate/" method="POST">
			{% csrf_token %}
			{{ form }}
		</form>

		<script>
		  var handler = StripeCheckout.configure({
		    key: '{{stripe_key}}',
		    token: function(token) {
		    	document.getElementById("id_stripe_id").value = token.id;
		    	document.getElementById("id_email").value = token.email;
		    	document.getElementById("submit").submit();
		    }
		  });

		  document.getElementById('googleButton').addEventListener('click', function(e) {
		    // This line is the only real modification...
		    var amount = parseFloat(document.getElementById("custom-donation-amount").value) * 100;
		    console.log(amount);
		    document.getElementById("id_amount").value = amount;
		    handler.open({
		      name: 'Demo Site',
		      description: document.getElementById('auction_id').innerHTML,
		      amount: amount
		    });
		    e.preventDefault();
		  });
		</script>
	</div>
  <nav class="fixed-nav-bar-bottom">
		<h3 class="copyright">Copyright 2017 ©</h3>
	</nav>
</center>
</body>
