amqp==2.1.4
billiard==3.5.0.2
braintree==3.37.2
celery==4.0.2
certifi==2017.4.17
chardet==3.0.4
Django==1.11.2
django-appconf==1.0.2
django-future==0.2.3
django-picklefield==1.0.0
idna==2.5
kombu==4.0.2
psycopg2==2.7.1
pytz==2017.2
requests==2.18.1
six==1.10.0
stripe==1.62.0
urllib3==1.21.1
uuid==1.30
vine==1.1.3
