  <%- include('partials/header') -%>
    <div class="content">
      <article class="about-us">
      <h1>About Us</h1>
      <p>Hey there! So glad you found us! :)</p>

      <p>Action Auctions is a simple, yet powerful charitable game that makes philanthropy fun!</p>

      <p>Using our web app, players are able to donate as much or as little as they want within a collective Auction – and whoever donates the most money wins half of the total amount raised! The other half of the pot goes to charities that have been verified as accountable and effective!</p>

      <p>To host a game, you can <a href="#">set up an auction</a>. You’ll get to create a unique Auction Key, which you can then share! Anyone with the Auction Key can play in the Auction you host; more people means more money for charities and bigger winnings for the highest donor – it’s a win win!</p>

      <p>As a player, all you have to do is enter the Auction Key and make your donation! Donate wisely! Once you enter your donation amount, you’ll be able to seamlessly pay with Stripe, which is a fast and secure payment processor. You’ll receive a confirmation email once the auction ends!</p>

      <p>If you’re the winner, you’ll receive a special email that tells you how much money you’ve won! We hope you’ll consider donating your winnings, since you’ll double the impact if you do! If you’d like to keep your winnings, you’ll have to create your own Stripe account, and we’ll send you the money once your account has been verified! Additionally, if you choose to keep your winnings, we’ll take a small (4%) maintenance fee so we can run our servers and stuff. If you choose to donate your winnings, we’ll share your generosity by waiving the fee and donating 100% to the charity ;)</p>

      <p>See our FAQ below for any questions you may have, and if anything remains unanswered, feel free to reach out to us at admin@actionauctions.org</p>


      <h2>How do I play?</h2>
      <p>Simply visit actionauctions.org and enter the Auction Key you’ve been given! If you want to host your own Auction, you can <a href="#">create one here!</a></p>

      <h2>What information do I need in order to host an Auction?</h2>
      <p>All you need to do is select the approved charity you wish to play for, create a unique Auction Key, add some details about when and where the Auction will be held! Then, once the Auction is created, you can share your Auction Key with whoever you’d like – anyone with the Auction Key can play in the auction you host!</p>

      <h2>What is an effective charity?</h2>
      <p>We believe in Effective Altruism, which is a philosophy that encourages maximizing the value of every dollar we donate! As such, we’re featuring charities that have been approved by the independent evaluator GiveWell.org, which ranks charities based on their efficacy.</p>

      <h2>How come the charity I want to donate to isn’t listed?</h2>
      <p>If you believe that the charity of your choice deserves special consideration despite its not being listed by GiveWell, please contact admin@actionauctions.org and we can make an exception!</p>

      <h2>Where does my donation go?</h2>
      <p>After you make a donation, the money goes to the Action Auctions Stripe account. After all the donations in a given Auction are finished, we make a donation to the selected charity. We also take a small (4%) fee to cover our operating costs.</p>

      <h2>How do I pay?</h2>
      <p>We use a payment processor called Stripe. As a player, all you need to do is enter your credit card information and your email – we take care of the rest! If you’re the winner, you’ll need to create your own Stripe account and link your bank account (which can take up to a few days) so that we can send you the money you’ve won – or you could be generous and donate your winnings ;)</p>

      <h2>Are my donations tax deductible?</h2>
      <p>Not yet, but we’re workin’ on it! Once everything is settled, you’ll get a receipt with your confirmation email that can be used for tax purposes!</p>

    </article>
    </div>

      <footer class="footer-bar">
        <div class="host-cta">
          <h2>Feeling inspired?</h2>
          <a href="/apply" class="button -hollow">Host your own <img class="icon" src="images/chevron.svg" alt=""></a>
        </div>
        <%- include('partials/footer-inner') -%>
      </footer>
    <%- include('partials/end') -%>
