<%- include('partials/header') -%>
    <div class="content">
      <div class="code-form">
        <form action="/" method="post">
          <h1>Join an Auction</h1>
          <input name="auction_id" type="text" class="input-box" placeholder="Auction Code" required>
          <button type="submit" class="button -primary">Join</button>
        </form>
      </div>
    </div>

    <footer class="footer-bar">
      <div class="host-cta">
        <h2>Feeling inspired?</h2>
        <a href="/apply" class="button -hollow">Host your own <img class="icon" src="images/chevron.svg" alt=""></a>
      </div>

      <%- include('partials/footer-inner') -%>
    </footer>

<%- include('partials/end') -%>
