<%- include('partials/header') -%>
	<h1>Payout Confirmation</h1>
    <h3>You're account should be credited within the next 2-5 business days</h3>
    <h3>You will be receiving an email confirmation shortly!</h3>
	<footer class="footer-bar">
      <div class="host-cta">
        <h2>Feeling inspired?</h2>
        <a href="/apply" class="button -hollow">Host your own <img class="icon" src="images/chevron.svg" alt=""></a>
      </div>

      <%- include('partials/footer-inner') -%>
    </footer>

<%- include('partials/end') -%>
