  <%- include('partials/header') -%>
    <div class="content">
      <article class="about-us">
        <h1>ACTION AUCTIONS TERMS OF USE</h1>
<p><em>Last Updated: 2017&ndash;11&ndash;27</em></p>

<p>These Terms of Use and any terms or agreements incorporated by reference herein (collectively, the &quot;Terms&quot; ) apply to your use of the website of ActionAuctions.org (&quot;Action Auctions&quot;, &quot;Us&quot;, or &quot;We&quot;, &ldquo;the Site&rdquo;), and the real-time donation platform provided by Action Auctions (together with the Site, the &quot;Services&quot;).</p>

<p>PLEASE READ THESE TERMS CAREFULLY. BY CLICKING  &ldquo;DONATE&quot; OR BY USING THE SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS, DO NOT ACCESS OR USE THE SERVICES.
  </p>

<p>We reserve the right to make changes or modifications to these Terms from time to time. If we make changes to these Terms, we will provide notice of such changes by posting the amended Terms via the Site and updating the &quot;Last Updated&quot; date at the top of these Terms. The amended Terms will be deemed effective immediately upon such posting for any new user of the Services. In our sole discretion, we may provide preexisting users with additional notice of changes, such as by sending an email or by posting additional notice on the homepage of our Site. Unless accepted earlier pursuant to a separate assent procedure to the amended Terms, all amended Terms will become effective for pre-existing users 30 days after the amended Terms are posted to the Site (as indicated by the Last Updated date). Continued use of the Services by such users following the effective date of such changes will constitute acceptance of such changes. Any amended Terms will only apply prospectively to use of the Services after such changes become effective, and will not apply retroactively. If you do not agree to any amended Terms, you must discontinue using our Services.
  </p>
<p>As used in these Terms, references to our &quot;Affiliates&quot; include our owners, subsidiaries, affiliated companies, officers, directors, suppliers, partners, sponsors, and advertisers, and includes (without limitation) all parties involved in creating, producing, and/or delivering the Services on our behalf.
  </p>
  <h2>1. DESCRIPTION OF SERVICES; ACTION AUCTIONS&rsquo; ROLE</h2>
<p>Our Services provide a platform for users of the Services ( &quot;Users&quot; or &ldquo;Donors&rdquo; ) to utilize our site in order to make donations to charities (&ldquo;Charities&quot;).
  </p>
<p>You acknowledge and agree that the Services only help facilitate transactions between Charities and Donors, and that Action Auctions never acts as a Donor or a Charity.
  </p>
<h2>2. ELIGIBILITY; REPRESENTATIONS</h2>

<p>Use of the Services is limited to parties that lawfully can enter into and form contracts under applicable law. Individuals who are under the age of 18, or who are otherwise considered minors under applicable laws, are not allowed to use the Services. By registering to use the Services, you represent and warrant that you: (a) are at least 18 years old, or the age of legal majority under applicable laws; (b) have not previously been suspended or removed from the Services; (c) have full power and authority to enter into this agreement and in doing so will not violate any other agreement to which you are a party; and (d) will not use the Services if the laws of your country prohibit you from doing so in accordance with these Terms. You further represent and warrant that if you are acting on behalf of a legal entity, that (x) you are authorized to accept these Terms on behalf of such entity, (y) such entity is duly organized, validly existing and in good standing in the laws of the country or state in which such entity is registered, and (z) such entity will be responsible for your violation of these Terms.
  </p>
<h2>3. REGISTRATION AND ACCOUNT
  </h2>
<p>In order to access Action Auctions&rsquo; donation platform made available via the Services, you will be required to provide certain registration information ( &quot;Registration Data&quot; ). By registering for an account via the Services, you agree (a) to provide your email address and credit card information, (b) that all information provided in the Registration Data is true and accurate, (c) that you will maintain and update the Registration Data in order to keep it current, complete, and accurate, (d) to promptly notify Action Auctions if you discover or otherwise suspect any security breaches related to your account or any personal information account linked to your account, and (e) to take responsibility for all activities that occur under your account and accept all risks of any authorized or unauthorized access.
  </p>
<h2>4. PRIVACY POLICY
  </h2>
  <h3>4.1 HOW WE COLLECT USER INFORMATION</h3>
<p>We may collect information from Users in a variety of ways, including, but not limited to, when Users visit our Site, create an account, fill out a form, engage in a transaction via our Services and in connection with other activities, services, features or resources we make available via our Services.
  </p>
<p>We collect information Users provide directly to us. For example, we may collect Users&rsquo; name, email address, and any other information Users choose to provide. Please note that the credit card and banking information Users may provide via the Site will be collected directly by our financial service provider, who will use such information solely to process and settle payment transactions.
  </p>
<p>When you access or use our Services, we may automatically collect information about you, including:
  </p>
<p>Log information: We may log information about Users whenever they interact with our Services, including the browser name, pages viewed, access times, the type of computer and technical information about Users means of connection to our Services, such as the operating system and any internet service providers utilized and other similar information.
  </p>
<p>Web browser cookies: We may use &quot;cookies&quot; to enhance User experience. Cookies are small data files stored on your hard drive or in device memory that help us to improve our Services and your experience, see which areas and features of our Services are popular and count visits. For more information about cookies, and how to disable them, please see &quot;Your Choices&quot; below.
  </p>
<p>We may also obtain information from other sources and combine that with information we collect through our Services. For example, when you connect your account with a social media site, we will have access to certain information from that site, such as your name, account information and friends lists, in accordance with the authorization procedures determined by such social media site.
  </p>
<h3>4.2 HOW WE USE USER INFORMATION</h3>
<p>We use Users' information for various purposes, including to:
  </p>
  <p>Provide, maintain and improve our Services;<br />
Provide services you request, process transactions and send you related information, including confirmations and invoices,<br />
Send you technical notices, updates, security alerts and support and administrative messages;<br />
Respond to your comments, questions and requests and provide customer service;<br />
Communicate with you about products, services, offers, promotions, rewards, and events offered by Action Auctions and others, and provide news and information we think will be of interest to you;<br />
Monitor and analyze trends, usage and activities in connection with our Services;<br />
Personalize and improve the Services and provide advertisements, content or features that match user profiles or interests;<br />
Process and deliver contest entries and rewards;<br />
Link or combine with information we get from others to help understand your needs and provide you with better service; and<br />
Carry out any other purpose for which the information was collected.</p>

<h3>4.3 HOW WE SHARE USER INFORMATION</h3>
<p>We do not sell, trade, or rent any User's information to others other than as follows:
  </p>
<p>We may share your information with any organization to which the User donates or makes a payment via our platform. These organizations may use such information to fulfill Users' donations and to engage in their own direct marketing. If you are a California resident, please see &quot;Your Choices&quot; below for more details about this sharing; and
  </p>
<p>We may share your information in connection with, or during negotiations of, any merger, sale of assets, financing or acquisition of all or a portion of our business to another company.
  </p>
<p>Additionally, we may also share your information in the following ways:
  </p>
  <p>With third party service providers to help us operate our business and the Services or administer activities on our behalf, such as sending out newsletters or surveys.<br />
  In response to a request for information if we believe disclosure is in accordance with any applicable law, regulation or legal process, or as otherwise required by any applicable law, rule or regulation; and<br />
  If we believe your actions are inconsistent with the spirit or language of our user agreements or policies, or to protect the rights, property and safety of Action Auctions or others.<br />
  We may also share aggregated or de-identified information, which cannot reasonably be used to identify you.</p>

<h3>4.4 HOW WE PROTECT USER INFORMATION</h3>
<p>We adopt appropriate data collection, storage and processing practices, and security measures to protect against unauthorized access, alteration, disclosure or destruction of User information.
  </p>
<h3>4.5 ANALYTICS SERVICES PROVIDED BY OTHERS</h3>
<p>We may allow others to provide analytical services on our behalf. These entities may use cookies, web beacons and other technologies to collect information about your use of the Services, including your IP address, web browser, pages viewed, time spent on pages and links clicked. This information may be used by Action Auctions to, among other things, analyze and track data, determine the popularity of certain content and better understand your online activity.
  </p>
<h3>4.6 YOUR CHOICES</h3>
<p>Promotional Communications. You may opt out of receiving promotional emails from Action Auctions by following the instructions in those emails. If you opt out, we may still send you transactional or relationship messages, such as those about your account or our ongoing business relations.
  </p>
<p>Your California Privacy Rights. California law permits residents of California to request certain details about how their information is shared with third parties for direct marketing purposes. If you are a California resident and would like to make such a request, please contact us at admin@actionauctions.org
  </p>
<p>Cookies. Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove or reject browser cookies. Please note that if you choose to remove or reject cookies, this could affect the availability and functionality of our Services.
  </p>
<h3>4.7 CONTACT US</h3>
<p>If you have any questions about this Privacy Policy, please contact us at: admin@actionauctions.org.
  </p>


<h2>5. DONOR OBLIGATIONS</h2>

<p>You agree that, as a Donor, you are responsible for reading the full description of any program, service, or other item promoted by a Charity via the Services ( &quot;Programs&quot; ), including any terms and conditions applicable to the execution of such Programs ( &quot;Charity Terms&quot; ), before committing to make any payment or donation via the Services to any Charity.
  </p>
<p>You agree to look solely to the applicable Charity to resolve all questions and disputes regarding any donations you make to a Charity via the Services. Action Auctions is not responsible for resolving any disputes between Donors and Charities.
  </p>
<p>We allow you to store payment method information through our Services via our designated payment processor. When you make a donation via the payment information stored through our Services, we, or our designated payment processor, will transmit your payment method information to the Charity, or its designated payment processor, and the Charity, or its designated payment processor, will process such payments or donations directly.
  </p>
<h2>6. CHARITY OBLIGATIONS</h2>
<h3>6.1 Receiving Payments via Stripe</h3>

<p>If you accept payments via the bank account you provide via our Services ( &quot;Bank Account&quot; ), then such payment processing is provided by Stripe, Inc. ( &quot;Stripe&quot; ), and the following terms shall apply:
  </p>
<p>(a) Stripe Terms. Action Auctions uses Stripe as its third party service provider for all payment services (e.g. card acceptance, merchant settlement, and related services) that occur via the Services. By making use of such payment services, you agree to be bound by Stripes terms and conditions (available at https://www.stripe.com/terms along with its privacy policy: https://www.stripe.com/privacy ) and hereby consent and authorize us to delegate the authorizations and share the information you provide to us with our third party service provider to the extent required to provide the Services to you. Stripe may also be contacted directly for payments support by email at support@stripe.com.
  </p>
<p>(b) Settlement; Timing. You authorize Action Auctions to instruct Stripe to disburse funds on your behalf when such funds from your card transactions settle. Such settlement funds will be disbursed into your Bank Account on a daily, rolling basis two (2) business days after the payment settles. In certain circumstances, we may require additional reserve amount requirements in the event of excessive chargebacks, suspected fraudulent transactions or any breach of these Terms.
  </p>
<p>(c) Chargebacks. When you receive a payment, you are liable to Action Auctions for the full amount of the payment, plus any fees, if the payment is later invalidated for any reason. This means that you will be responsible for reimbursing Action Auctions if you lose a claim or a chargeback or if there is a reversal of the payment. For any transaction resulting in a chargeback, we may withhold the chargeback in a reserve or deduct the amount and any associated fees or fines assessed by our processor or the card associations from your Bank Account or other funding source registered with us. You agree to allow us to share information about a chargeback with the payer and payer&rsquo;s financial institution and your financial institution to investigate or otherwise resolve a chargeback.
  </p>
<h3>6.2 Donor Information</h3>

<p>When Donors make a payment or donation to you, as a Charity, you may receive personal information about such Donors via the Services, including contact information or payment method information ( &quot;Donor Information&quot; ). If you receive any Donor Information, you may use such information solely to: (a) fulfill delivery of any Merchandise; (b) perform internal analytics regarding Donor engagement via the Services and operate or improve your products and services; and (c) contact Donors via direct communications in order to promote your goods and services in accordance with applicable laws. You expressly agree not to share Donor Information with any third party, except as required to comply with applicable laws or with any third party who conducts services on your behalf and who agrees to maintain the confidentiality and security of such information. You are fully responsible for any authorized or unauthorized collection, use, storage and disclosure of any Donor Information you receive or otherwise have access to via the Services.
  </p>
<h3>6.3 Applicable Laws and Rules
  </h3>
<p>In connection with your receipt of donations from Donors, you are solely responsible for, and agree to comply with: (a) all applicable laws; and (b) any applicable rules of any payment network or association, including, without limitation, the Payment Card Industry Data Security Standard.
  </p>
<h3>6.4 Prohibited Uses
  </h3>
  <ul>
  	<li>Direct money transmission</li>
  <li>Adult-oriented products or services (of any media type)</li>
  <li>Collection agencies engaged in the collection of Uncollectible Debt (as defined by the Payment Brands)</li>
  <li>Bankruptcy attorneys</li>
  <li>Credit repair agencies</li>
  <li>Sports forecasting or odds making</li>
  <li>Credit counseling or credit repair services</li>
  <li>Credit protection / Identity theft protection</li>
  <li>Direct marketing - subscription merchants (those selling subscriptions through negative option billing)</li>
  <li>Infomercial merchants Internet/MOTO pharmacies</li>
  <li>Internet/MOTO pharmacy referral sites</li>
  <li>Internet/MOTO Firearm or Weapon Sales</li>
  <li>Internet/MOTO Tobacco Sales</li>
  <li>Drug Paraphernalia</li>
  <li>Occult Materials</li>
  <li>Multi-level marketing businesses (e.g. pyramid selling)</li>
  <li>Inbound telemarketers</li>
  <li>Outbound telemarketers</li>
  <li>Prepaid phone cards</li>
  <li>Prepaid phone services</li>
  <li>Rebate-based businesses</li>
  <li>&quot;Up-Sell&quot; merchants</li>
  <li>Bill payments</li>
  <li>Escort services</li>
  <li>Gambling or betting, including lottery tickets, raffles, casino gaming chips, off-track betting, and wagers at race tracks</li>
  <li>Financial Institutions - Manual Cash Disbursements* Financial Institutions - Automated Cash Disbursements</li>
  <li>Financial Institutions - Merchandise and Services</li>
  <li>Non-Financial Institutions - Money Orders, Foreign Currency, etc.</li>
  <li>Wire Transfer Money Orders</li>
  <li>High-Risk Telemarketing Merchants</li>
  <li>Service Station Merchants</li>
  <li>Automated Fuel Dispensers (AFD)</li>
  <li>Any business model heavily reliant upon or solely or primarily based on any guaranteed &quot;rebate&quot;, &quot;refund&quot;, or &quot;prize&quot; associated with the sale of products or services.</li>
</ul>
<h2>7. FEES</h2>
<h3>7.1 Amount of Fees
  </h3>
<p>Donors agree to pay Action Auctions the fees for transactions completed via the Services ( &quot;Fees&quot; ) as provided in the price schedule ( &quot;Price Schedule&quot; ), which we may change from time to time. Any taxes collected by Action Auctions, if applicable, will be in addition to the Fees. Changes to the Price Schedule are effective immediately upon posting of the revised Price Schedule to the Site, and will apply prospectively to any transactions that take place following the effective date of such revised Price Schedule.
  </p>
<h3>7.2 Payment of Fees
  </h3>
<p>In order to pay any Fees, we allow you to store payment method information through a Financial Account ( &quot;Payment Method&quot; ). You represent and warrant that you are authorized to use such designated Payment Method and authorize us, or our designated payment processor, to charge or debit such Payment Method for any applicable Fees. If the Payment Method cannot be verified, is invalid or is otherwise not acceptable to us, or our designated payment processor, your ability to accept payments from Donors via the Services may be suspended immediately. You must resolve any problem Action Auctions, or our designated payment processor, encounters to continue accepting payments from Donors. In addition, by accepting payments from Donors via the Services, you authorize us, or our designated payment processor, to charge applicable Fees to your designated Payment Method and to process and store your Payment Method information and any other related personal information.
  </p>
<h3>7.3 Errors; Refunds
  </h3>
<p>If we make an error in charging any Fees, we will correct it promptly after you notify us and we have investigated and verified the error. You must notify us in writing within 30 days after an error first appears on your bill or online statement. If you do not report the error to us within such 30 day period, we will not be required to correct the error and you agree to pay the amount charged or debited. You release us from all liability and claims of loss resulting from any error that you do not report to us within 30 days after the error first appears on your bill or online statement. Other than as described in this section, or as required by law, we will not provide any refunds for Fees.
  </p>
<h2>8. USER CONTENT</h2>

<p>The Services may include interactive areas where you or other Users can create, post, or store messages, text, files, images, photos, video, sounds, program descriptions or other materials via the Services ( &quot;User Content&quot;. ) You are entirely responsible for any User Content that you post, email or otherwise make available via the Services. You understand that Action Auctions does not control, and is not responsible for User Content, and that by using the Services, you may be exposed to User Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable. In addition, the User Content may contain links to other websites, which are completely independent of Action Auctions, and Action Auctions makes no warranty as to the accurateness, completeness, or authenticity of the information contained in any such third-party site. You agree that you must evaluate, and bear all risks associated with, the use of any User Content, that you may not rely on said User Content, and that under no circumstances will Action Auctions be liable in any way for any User Content or any loss or damage of any kind incurred as a result of the use of any User Content. You acknowledge that Action Auctions does not screen or approve User Content, but that Action Auctions shall have the right (but not the obligation) in its sole discretion to refuse, delete or move any User Content, for violating the letter or spirit of these Terms or for any other reason.
  </p>
<p>You agree not to post, create or otherwise publish through the Services, User Content that we believe, in our sole discretion:
  </p>
<p>a.   is unlawful, libelous, defamatory, harassing, threatening, invasive of privacy or publicity rights, or that would otherwise create liability or violate any local, state, national or international law;
  </p>
<p>b.  contains nudity, sexually explicit content or is otherwise obscene, pornographic, indecent, lewd, suggestive or sexually exploitative of minors;
  </p>
<p>c.   may disparage any ethnic, racial, sexual or religious group by stereotypical depiction or is otherwise abusive or inflammatory;
  </p>
  <p>d.  depicts, promotes the use of, or offers the sale of illicit drugs;</p>
<p>e.  contains offensive language or images or is otherwise objectionable;
  </p>
<p>f.    incites violence or characterizes violence as acceptable, glamorous or desirable;
  </p>
<p>g.  contains private or personal information about another person, unless such person has agreed to the disclosure of this information;
  </p>
<p>h.   contains viruses, corrupted data or other harmful, disruptive or destructive files viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
  </p>
<p>i.     may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party; or
  </p>
<p>j.    would constitute, encourage or provide instructions for a criminal offense in any jurisdiction or violate the rights of any third party.
  </p>

<p>By submitting or posting User Content via the Services, you grant Action Auctions a nonexclusive, royalty-free, perpetual, irrevocable and fully sublicensable right to use, reproduce, modify, publish, translate, create derivative works from, distribute, perform and display such User Content on the Services and on third-party sites to maintain, improve, operate and provide the Services. We will contact you directly to obtain permission before we use your User Content for our own commercial purposes, unless you expressly grant these rights to Action Auctions at the time you upload such content. If you choose to remove your User Content, the license granted above will automatically expire; however, you acknowledge that there may be exceptions (for example, you cannot delete your purchase history). In addition, we may retain archived copies of your User Content and cached copies of your User Content may still be available for some period of time.
  </p>
<p>By posting User Content to the Services, you represent and warrant that: (i) such User Content is non-confidential; and (ii) you own and control all of the rights, title and interest in and to the User Content or you otherwise have all necessary rights to post such User Content to the Services and to grant the rights to Action Auctions that you grant in these Terms.
  </p>
<h2>9. USER CONDUCT</h2>

<p>You must use the Services in a manner consistent with any and all applicable laws and regulations, including any local, state, national or international laws and regulations, and you are solely responsible for your conduct while using the Services. In addition, you agree not to:
  </p>
<p>a.   use the Services to victimize, harass, degrade, or intimidate anyone on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;
  </p>
<p>b.  infringe on any patent, trademark, trade secret, copyright, right of publicity, or other proprietary right of any party;
  </p>
<p>c.   use the Services in connection with the distribution of any unauthorized or unsolicited advertising, junk or bulk email (also known as &quot;spamming&quot;), chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling;
  </p>
<p>d.  impersonate any person or entity, including any of our employees or representatives, or falsely state or otherwise misrepresent your affiliation with a person or entity;
  </p>
<p>e.  use any data mining, robots, or other data extraction or collection methods;
  </p>
<p>f.    reverse engineer or decompile any parts of the Services;
  </p>
<p>g.  aggregate, copy or duplicate any User Content other than with written permission of the applicable User or as otherwise permitted by these Terms;
  </p>
<p>h.   create more than one account for the same User;
  </p>
<p>i.     employ misleading email addresses, or forged headers or otherwise manipulate identifiers in order to disguise the origin of User Content transmitted through the Services;
  </p>
<p>j.    share your or any other User&rsquo;s login credentials with any third party;
  </p>
<p>k.   Use the Services in connection with any &quot;affiliate marketing,&quot; &quot;link referral code,&quot; &quot;junk mail,&quot; &quot;spam,&quot; &quot;pyramid schemes,&quot; or &quot;unsolicited commercial advertisement;&quot;
  </p>
<p>l.     stalk or otherwise harass anyone;
  </p>
<p>m.   collect any personal information about other Users for commercial or unlawful purposes, unless expressly permitted under these Terms; and
  </p>
<p>n.   attempt to gain unauthorized access to Action Auctions computer systems or another User&rsquo;s account or engage in any activity that disrupts, diminishes the quality of, interferes with the performance of, or impairs the functionality of, the Services.
  </p>
<p>We reserve the right, but have no obligation, to monitor interactions between you and other Users of the Services.
  </p>

<h2>10. THIRD-PARTY CONTENT
  </h2>
<p>The Services may link you to other sites on the Internet or otherwise include references to information, documents, software, materials and/or services provided by other parties (&quot;Third-Party Content&quot;). Third-Party Content may contain information or material that some people may find inappropriate or offensive. Third Party Content is not under our control, and you acknowledge that we are not responsible for the accuracy, copyright compliance, legality, decency, or any other aspect of the content of such Third-Party Content, nor are we responsible for errors or omissions in any references to other parties or their products and services. The inclusion of Third-Party Content is provided merely as a convenience and does not imply endorsement by Action Auctions or association of the Services with such content.
  </p>
<h2>11. INTELLECTUAL PROPERTY RIGHTS
  </h2>
<p>Unless otherwise indicated, the Services and all content and other materials on the Services, including, without limitation, the Action Auctions logo, and all designs, text, graphics, pictures, videos, data, software, and other files, and the selection and arrangement thereof, (collectively, the &quot;Action Auctions Materials&quot; ) are the proprietary property of Action Auctions or our licensors and are protected to the maximum extent permitted by U.S. and international copyright laws and international treaties. All Rights Reserved.
  </p>
<p>We hereby grant you a limited, non-exclusive and non-sublicensable license to access and use the Services and the Action Auctions Materials; however, such license is subject to these Terms and does not include: (a) any resale or commercial use of the Services or the Action Auctions Materials, except as expressly permitted under these Terms; (b) the distribution, public performance or public display of any Action Auctions Materials; (c) modifying or otherwise making any derivative uses of the Services and the Action Auctions Materials, or any portion thereof, unless modification or derivative use is specifically provided for under separate terms; (d) downloading (other than the page caching) of any portion of the Services, the Action Auctions Materials or any information contained therein, except as expressly permitted on the Services; or (e) any use of the Services or the Action Auctions Materials other than for their intended purposes. Any use of the Services or the Action Auctions Materials other than as specifically authorized herein, without the prior written permission of Action Auctions, is strictly prohibited and will terminate the license granted herein. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time.
  </p>
<p>Neither we nor our Affiliates warrant or represent that your use of Action Auctions Materials displayed on, or obtained through, the Services will not infringe the rights of third parties.
  </p>
<p>&quot;Action Auctions,&quot; the Action Auctions logo, and any other service name or slogan contained on the Services are trademarks of Action Auctions or its Affiliates, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Action Auctions or the applicable trademark holder. You may not use any metatags or any other &quot;hidden text&quot; utilizing &quot;Action Auctions&quot; or any other name, trademark or product or service name of Action Auctions in a manner that may create a likelihood of consumer confusion without our prior written permission. In addition, the look and feel of the Services, including all page headers, custom graphics, button icons and scripts, is the service mark, trademark and/or trade dress of Action Auctions and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks or service marks, trade names or logos appearing on the Services or in these Terms are property of their respective owners. Nothing in these Terms grants you any right to use any trademark, service mark, logo, and/or the name of Action Auctions.
  </p>
<h2>12. DISCONTINUANCE OF SERVICES
  </h2>
<p>Action Auctions retains the right to determine the content, appearance, design, functionality and all other aspects of the Services (including the right to re-design, modify, remove and alter the content appearance, design, functionality, and other aspects of the Services and any element, aspect, portion, or feature thereof, from time to time), and to delay, suspend, or refuse access to the Services or to require a User not to use the Services in our sole discretion, without liability to you. We may in our sole discretion withhold for investigation, refuse to process, stop or cancel any of your transactions processed through the Services.
  </p>
<h2>13. REPEAT INFRINGERS; COPYRIGHT COMPLAINTS
  </h2>
<p>In accordance with the Digital Millennium Copyright Act and other applicable law, Action Auctions has adopted a policy of terminating, in appropriate circumstances and in Action Auctions&rsquo; sole discretion, Users who are deemed to be repeat infringers. Action Auctions may also, in our sole discretion, limit access to the Services and/or terminate the accounts of any Users who we believe may infringe any intellectual property rights of others, whether or not there is any repeat infringement.
  </p>

<h2>14. DISCLAIMER OF WARRANTIES
  </h2>
<p>ALL ACTION AUCTIONS MATERIALS AND THE SERVICES ARE PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THE WARRANTY OF NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT (A) THE SERVICES AND ACTION AUCTIONS MATERIALS WILL MEET YOUR REQUIREMENTS, (B) THE SERVICES AND ACTION AUCTIONS MATERIALS WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (C) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICES OR ACTION AUCTIONS MATERIALS WILL BE EFFECTIVE, ACCURATE OR RELIABLE, OR (D) THE QUALITY OF ANY PRODUCTS, SERVICES, OR INFORMATION PURCHASED OR OBTAINED BY YOU VIA THE SERVICES WILL MEET YOUR EXPECTATIONS OR BE FREE FROM MISTAKES, ERRORS OR DEFECTS.
  </p>
<p>THE SERVICES COULD INCLUDE TECHNICAL OR OTHER MISTAKES, INACCURACIES OR TYPOGRAPHICAL ERRORS. WE MAY MAKE CHANGES TO THE ACTION AUCTIONS MATERIALS AND THE SERVICES, INCLUDING THE PRICES AND DESCRIPTIONS OF ANY MERCHANDISE, AT ANY TIME WITHOUT NOTICE. THE MATERIALS OR THE SERVICES MAY BE OUT OF DATE, AND WE MAKE NO COMMITMENT TO UPDATE SUCH ACTION AUCTIONS MATERIALS OR THE SERVICES.
  </p>
<p>THE USE OF THE SERVICES OR THE DOWNLOADING OR OTHER ACQUISITION OF ANY ACTION AUCTIONS MATERIALS IS DONE AT YOUR OWN DISCRETION AND RISK AND WITH YOUR AGREEMENT THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM SUCH ACTIVITIES.
  </p>
<p>SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
  </p>
<h2>15. LIMITATION OF LIABILITY
  </h2>
<p>IN NO EVENT SHALL WE OR OUR AFFILIATES BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY SPECIAL, PUNITIVE, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, LOSS OF DATA OR PROFITS, LOSS OF OPPORTUNITY, LOSS OF GOODS OR ANY ASSOCIATED EQUIPMENT, COST OF SUBSTITUTE OR REPLACEMENT GOODS OR ANY ASSOCIATED EQUIPMENT, COST OF CAPITAL, LOST DATA, FACILITIES OR SERVICES, DOWN TIME, OR SUMS PAID BY USERS, WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND ON ANY THEORY OF LIABILITY, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE SERVICES OR OF ANY WEB SITE REFERENCED OR LINKED TO FROM THE SERVICES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY WHETHER ANY CLAIM IS BASED UPON THE PRINCIPLES OF CONTRACT, WARRANTY, NEGLIGENCE OR OTHER TORT, BREACH OF ANY STATUTORY DUTY, PRINCIPLES OF INDEMNITY OR CONTRIBUTION, THE FAILURE OF ANY LIMITED OR EXCLUSIVE REMEDY TO ACHIEVE ITS ESSENTIAL PURPOSE, OR OTHERWISE.
  </p>
<p>FURTHER, WE SHALL NOT BE LIABLE IN ANY WAY FOR CHARITY PROGRAMS OR THIRD-PARTY CONTENT OFFERED OR ACCESSIBLE THROUGH THE SERVICES OR FOR ASSISTANCE IN CONDUCTING COMMERCIAL TRANSACTIONS THROUGH THE SERVICES, INCLUDING WITHOUT LIMITATION THE PROCESSING OF ORDERS.
  </p>
<p>WITHOUT LIMITING THE FOREGOING, ACTION AUCTIONS MAKES NO REPRESENTATION OR WARRANTY OF ANY KIND, EXPRESS OR IMPLIED: (I) AS TO THE OPERATION OF THE ACTIONAUCTIONS.ORG WEBSITE, OR THE INFORMATION, CONTENT OR MATERIALS INCLUDED THEREON; (II) THAT THE ACTIONAUCTIONS.ORG WEBSITE WILL BE UNINTERRUPTED OR ERROR-FREE; (III) AS TO THE ACCURACY, RELIABILITY, OR CURRENCY OF ANY INFORMATION, CONTENT, SERVICE, OR MERCHANDISE PROVIDED THROUGH THE ACTIONAUCTIONS.ORG WEBSITE; OR (IV) THAT THE ACTIONAUCTIONS.ORG WEBSITE, ITS SERVERS, OR E-MAIL SENT FROM OR ON BEHALF OF ACTIONAUCTIONS.ORG ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ACTION AUCTIONS MAKES NO REPRESENTATION AS TO WHETHER ALL OR ANY PORTION DONATIONS MADE ONLINE AT ACTIONAUCTIONS.ORG ARE TAX DEDUCTIBLE. ACTION AUCTIONS MAKES NO REPRESENTATION OR WARRANTY, NOR SHALL ACTION AUCTIONS BEAR ANY RESPONSIBILITY OR LIABILITY CONCERNING THE FEDERAL, STATE OR LOCAL TAX CONSEQUENCES ARISING FROM USERS USE OF THE WEB SITE.
  </p>
<p>IN NO EVENT SHALL ACTION AUCTIONS OR ANY AFFILIATE BE LIABLE TO ANY USER (OR ANY OTHER PARTY) FOR LOSS, DAMAGE OR INJURY OF ANY KIND OR NATURE ARISING OUT OF OR IN CONNECTION WITH THESE TERMS IN EXCESS OF THE NET FEES PAID BY SUCH USER TO ACTION AUCTIONS FOR ACCESS TO OR USE OF THE SERVICES.
  </p>
<p>SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
  </p>
<h2>16. RELEASE
  </h2>
<p>If you are a California resident, you waive California Civil Code section 1542, which says: &quot;A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known my him must have materially affected his settlement with the debtor.&quot;
  </p>
<h2>17. INDEMNIFICATION
  </h2>
<p>You agree to defend, indemnify, and hold us and our Affiliates harmless from all liabilities, claims, and expenses, including attorney&rsquo;s fees that arise from (a) your use or conduct in connection with the Services, (b) any Feedback (as defined in Section 23 below) you provide; (c) your violation of these Terms; or (d) your violation of any rights of any other person or entity. We reserve the right, at our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with us in asserting any available defenses.
  </p>
<h2>18. PARTICIPATION IN PROMOTIONS
  </h2>
<p>From time to time, the Services may include advertisements offered by third parties. You may enter into correspondence with or participate in promotions of the advertisers showing their products on the Services. Any such correspondence or promotions, including the delivery of and the payment for goods and services, and any other terms, conditions, warranties or representations associated with such correspondence or promotions, are solely between you and the advertiser. We assume no liability, obligation or responsibility for any part of any such correspondence or promotion.
  </p>
<h2>19. INTERNATIONAL USE
  </h2>
<p>Although the Services may be accessible worldwide, we make no representation that materials on the Services are appropriate or available for use in locations outside the United States, and accessing them from territories where their contents are illegal is prohibited. Those who choose to access the Services from other locations do so on their own initiative and are responsible for compliance with applicable laws. Any offer for any product, service, and/or information made in connection with the Services is void where prohibited.
  </p>
<h2>20. TERMINATION
  </h2>
<p>You agree that we may, in our sole discretion, terminate or suspend your access to all or part of the Services with or without notice and for any reason, including, without limitation, breach of these Terms or your failure to pay any Fees owed by you to Action Auctions. Any suspected fraudulent, abusive or illegal activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities.
  </p>
<p>Upon termination or suspension, regardless of the reasons thereof, your right to use the Services immediately ceases, and you acknowledge and agree that we may immediately deactivate or delete your Action Auctions account and all related information and files in your account and/or bar any further access to such files or the Services. We shall not be liable to you or any third party for any claims or damages arising out of any termination or suspension or any other actions taken by us in connection with such termination or suspension.
  </p>
<h2>21. GOVERNING LAW
  </h2>
<p>You and we agree that the laws of the State of Oregon, without regard to the conflict of laws principles thereof and the United Nations Convention on the International Sales of Goods, will apply to all matters and disputes arising from or relating to these Terms or the use of the Services. Each of us agrees and hereby submits to the exclusive personal jurisdiction and venue of any court of competent jurisdiction within the State of Oregon with respect to such matters.
  </p>
<h2>22. ENTIRE AGREEMENT; ORDER OF PRECEDENCE
  </h2>
<p>These terms and conditions constitute the entire agreement and understanding between you and us concerning the subject matter of this agreement and supersede all prior agreements and understandings of the parties with respect to that subject matter. These Terms do not alter the terms or conditions of any other agreement you may have with Action Auctions for the Services or for any other Action Auctions product or service or otherwise. In the event of any conflict between these Terms and any other agreement you may have with Action Auctions, the terms of that other agreement will control only if the other agreement specifically declares that its terms override these Terms.
  </p>
<h2>23. MISCELLANEOUS
  </h2>
<p>a.   Limitations Period. Any cause of action brought by you against us or our Affiliates must be instituted within one year after the cause of action arises or be deemed forever waived and barred.
  </p>
<p>b.  Assignment. You may not assign your rights and obligations under these Terms to any party, and any purported attempt to do so will be null and void. We may free assign our rights and obligations under these Terms.
  </p>
<p>c.   Events Beyond Our Control. In addition to any excuse provided by applicable law, we shall be excused from liability for non- delivery or delay in delivery of products and services available through the Services arising from any event beyond our reasonable control, whether or not foreseeable by either party, including but not limited to, labor disturbance, war, fire, accident, adverse weather, inability to secure transportation, governmental act or regulation, and other causes or events beyond our reasonable control, whether or not similar to those which are enumerated above.
  </p>
<p>d.  Severability. If any part of these Terms is held invalid or unenforceable, that portion shall be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining portions shall remain in full force and effect.
  </p>
<p>e.  Waiver. Any failure by us to enforce or exercise any provision of these Terms or related rights shall not constitute a waiver of that right or provision.
  </p>
  <h2>24. Contact Information for Feedback</h2>

<p>We welcome your questions, feedback and comments and encourage you to provide the same via email to: admin@actionauctions.org. If you have feedback or wish to report on any violation of these Terms, please contact admin@actionauctions.org.
  </p>
<p>Please note that we will own exclusive rights, including all intellectual property rights, to any feedback, suggestions, ideas or other information or materials regarding Action Auctions or our Services that you provide, whether by email, posting through our Services or otherwise ( &quot;Feedback&quot; ). Do not send us Feedback if you expect to be paid or want to continue to own or claim rights in them; we do not want disputes. Any Feedback you submit is non-confidential and shall become the sole property of Action Auctions. We will be entitled to the unrestricted use and dissemination of such Feedback for any purpose, commercial or otherwise, without acknowledgment or compensation to you.
  </p>

    </article>
    </div>

      <footer class="footer-bar">
        <div class="host-cta">
          <h2>Feeling inspired?</h2>
          <a href="/apply" class="button -hollow">Host your own <img class="icon" src="images/chevron.svg" alt=""></a>
        </div>
        <%- include('partials/footer-inner') -%>
      </footer>
    <%- include('partials/end') -%>
