option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-east-1:452438177849:certificate/4476c064-8351-4abb-9de5-e1a90d44ac4f
    ListenerProtocol: HTTPS
    InstancePort: 80

files:
    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>