body {
	background-color: #1F2831;
	/*text-align: center;*/
}

center {
	position: relative;
}

.title {
  color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	border-bottom: 1px solid;
	padding-top: 30px;
	width: 10em;
	letter-spacing: .15em;
	/*text-align: center;*/
	margin: 0 auto;
}

.triangle1 {
	width: 0;
	/*height: 0;*/
	top: -55px;
	right: 150px;
	border-style: solid;
	border-width: 100px 50px 0 50px;
	border-color: #8aa0b8 transparent transparent transparent;
	position: relative;
	z-index: -1;
}

.triangle2 {
	width: 0;
	/*height: 0;*/
	top: -125px;
	left: 125px;
	border-style: solid;
	border-width: 50px 0 50px 100px;
	border-color: transparent transparent transparent #f59d3f;
	position: relative;
	z-index: -1;
}

.thanks {
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
  font-size: 50px;
	margin: 0 auto;
}

.copyright {
	color: #FFFFFF;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}

.fixed-nav-bar-bottom {
	/*top: 0;*/
	/*left: 0;*/
	bottom: 0;
	height: 10%;
	width: 100%;
	z-index: -1;
	position: fixed;
	background-color: #39678E;
}
